:root {
  --toc-width: 30%;
  --controls-height: 2rem;
}

.app {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 960px) {
  .app {
    flex-direction: column-reverse;
    background-color: #dddddd;
  }
}

.app .toc {
  width: var(--toc-width);
  height: 100vh;
  overflow-y: scroll;
}

@media screen and (max-width: 960px) {
  .app .toc {
    width: initial;
    margin-bottom: var(--controls-height);
    border-top: 2px #dddddd solid;
  }
}

.app .toc h2 {
  text-align: center;
}

.app .toc ol {
  line-height: 1.5;
}

.app .toc button {
  border: none;
  text-align: left;
  text-decoration: underline;
  background-color: transparent;
  cursor: pointer;
}

.app .content, .app .controls {
  width: calc(100% - var(--toc-width));
}

@media screen and (max-width: 960px) {
  .app .content {
    width: initial;
    background-color: white;
  }

  .app .controls {
    width: 100%;
    background-color: white;
  }
}

@media screen and (max-width: 960px) {
  .app .content, .app .toc {
    margin-left: 1em;
    background-color: white;
  }
}

.app #area {
  height: calc(100vh - var(--controls-height));
  padding: 0.5em;
  overflow-y: scroll;
}

@media screen and (max-width: 960px) {
  .app #area {
    width: initial;
  }
}

.app .controls {
  position: fixed;
  bottom: 0;
  left: var(--toc-width);
  height: var(--controls-height);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media screen and (max-width: 960px) {
  .app .controls {
    left: 0;
  }
}

.app .controls button {
  margin: 0 3em;
}
